body
{
	background-color: #101010;
	color: #f0f0f0;
}

.jumbotron
{
	background-color: #f0f0f0;
	color: #101010;
	text-align: center;
}

.btn-purple { 
  color: #E08CFF; 
  background-color: #363636; 
  border-color: #E08CFF; 
} 
 
.btn-purple:hover, 
.btn-purple:focus, 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  color: #E08CFF; 
  background-color: #101010; 
  border-color: #E08CFF; 
} 
 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  background-image: none; 
} 
 
.btn-purple.disabled, 
.btn-purple[disabled], 
fieldset[disabled] .btn-purple, 
.btn-purple.disabled:hover, 
.btn-purple[disabled]:hover, 
fieldset[disabled] .btn-purple:hover, 
.btn-purple.disabled:focus, 
.btn-purple[disabled]:focus, 
fieldset[disabled] .btn-purple:focus, 
.btn-purple.disabled:active, 
.btn-purple[disabled]:active, 
fieldset[disabled] .btn-purple:active, 
.btn-purple.disabled.active, 
.btn-purple[disabled].active, 
fieldset[disabled] .btn-purple.active { 
  background-color: #363636; 
  border-color: #E08CFF; 
} 
 
.btn-purple .badge { 
  color: #363636; 
  background-color: #E08CFF; 
}